<div class="title">
  <h2>My requests</h2>
  <app-add-permission (addedPermission)="addedPermissionListener($event)"></app-add-permission>
</div>
<div class="white-bg">
<table class="table">
        <thead>
            <tr>
                <th>Server Name</th>
                <th>Server Address</th>
                <th>Permission</th>
                <th>Additional Info</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of currentRequests">
            <td>{{request.serverName}}</td>
            <td>{{request.serverAddress}}</td>
            <td>{{request.permission}}</td>
            <td>{{request.additionalInfo}}</td>
            <td>{{request.status}}</td>
            <td>
                <button type="button" class="close" (click)="remove(request.id)">&times;</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
