/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.btn-default{
    font-family: 'Arial Normalny', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    background: #2983bf;
    text-align: center;
    line-height: normal;
    color: white;
    cursor: pointer;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}

.white-bg{
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

h2{
  font-size: 24px;
  color: #2983bf;
  margin: 0 0 30px 0;
  padding: 0;
}

table th{ color: #2983bf}
table td{ line-height: 31px;}
table tr:nth-child(even){ background: #f4f4f4}
table td .btn{vertical-align: top}

.title{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;}
.title h2{ margin-bottom: 0}
